@model FinalYearProject.ViewModels.BakeFrontEnd

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    <script src="~/js/basket.js" asp-append-version="true"></script>
</head>

<div class="product-container">
    <div class="product-image">
        <img src="@("/images/" + Model.Name).jpg" alt="@Model.AltText" />
    </div>
    <div class="product-details">
        <h1 class="product-title">@Model.Name</h1>
        <!-- Add average rating display -->
        <div class="average-rating">
            @for (int i = 1; i <= 5; i++)
            {
                if (i <= Model.AverageRating)
                {
                    <i class="fas fa-star text-warning"></i>
                }
                else
                {
                    <i class="far fa-star text-warning"></i>
                }
            }
            <span>(@Model.ReviewCount reviews)</span>
        </div>
        <div class="product-price">
            £@Model.Price.ToString("F2")
        </div>
        <div class="product-description">
            @Model.Description
        </div>
        <div class="product-actions">
            <form class="basket-form" asp-controller="Basket" asp-action="AddToBasket" method="post">
                <input type="hidden" name="bakeId" id="bakeId" value="@Model.Id" />
                <label for="quantity" class="visually-hidden">Quantity</label>
                <input type="number" name="quantity" id="quantity" class="quantity-input" value="@Model.Quantity" min="1" max="10" aria-label="Quantity" />
                <button type="submit" class="btn add-to-cart">
                    Add to Basket
                </button>
            </form>
        </div>
        <div style="margin-top: 2rem;">
            <button class="btn btn-primary" onclick="window.history.back()">Back to List</button>
            <a asp-controller="Review" asp-action="Create" asp-route-bakeId="@Model.Id" class="btn btn-secondary">Write a Review</a>
        </div>
    </div>
</div>



@* <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl> *@
</div>
