@model FinalYearProject.ViewModels.BasketFrontEnd
@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/basket.css" asp-append-version="true" />
</head>

<div class="basket-container">
    <h1 class="basket-title">Your Basket</h1>

    @if (Model?.Bakes?.Any() == true)
    {
        <div class="basket-items">
            @foreach (var bake in Model.Bakes)
            {
                <div class="basket-item">
                    <form class="item-details" asp-controller="Basket" asp-action="UpdateToBasket" method="post">
                        <img src="~/images/@(bake.Name).jpg" alt="@bake.Name" class="item-image" />
                        <input type="hidden" name="bakeId" id="bakeId" value="@bake.Id" />
                        <h3 class="item-name">@bake.Name</h3>
                        <input type="number" name="quantity" class="quantity-input" value="@bake.Quantity" min="1" max="10" />
                        <button type="submit" class="btn add-to-cart">Update</button>
                    </form>
                    <div class="item-price">
                        £@bake.TotalPrice.ToString("F2")
                    </div>
                    <a asp-controller="Basket" asp-action="DeleteFromBasket" asp-route-bakeId="@bake.Id" class="btn btn-secondary delete-button" data-bake-id="@bake.Id">Delete</a>
                </div>
            }
        </div>

        <div class="basket-summary">
            <div class="total-amount">
                <span>Total:</span>
                <span>£@Model.Bakes.Sum(b => b.TotalPrice).ToString("F2")</span>
            </div>
            <a asp-controller="Order" asp-action="DeliveryInformation" class="checkout-button">Proceed to Checkout</a>

        </div>
    }
    else
    {
        <div class="empty-basket">
            <p>Your basket is empty</p>
            <a asp-controller="Search" asp-action="Index" class="continue-shopping">Continue Shopping</a>
        </div>
    }
</div>
